.create-article {
  width: 75%;
  &__header {
    display: flex;
    align-items: center;

    h1 {
      margin-right: 2rem;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    & > * {
      margin-top: 2rem;
    }
    input {
      width: 30rem;
    }
  }

  textarea {
    width: 74rem;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
  }
}
