$font-heading-links: "Lato", sans-serif;
$font-regular: "Montserrat", sans-serif;

//TEXT COLORS
$text-primary: #212529;
$text-secondary: #6c757d;

//LINK COLORS
$link-primary: #2b7efb;
$link-secondary: #007bff;
$link-alert: #dc3545;

// BACKGROUND COLORS
$header-grey: #f8f9fa;

// BUTTON COLORS
$btn-primary: #007bff;
$btn-secondary: #6c757d;

// SHADOWS

$modal-shadow: 0 1.6rem 4.8rem rgba(0, 0, 0, 0.175);

// BORDER RADIUS
$border-r-8px: 0.8rem;
