@import "../../../styles/abstracts/variables";

.create-article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 115.2rem;
  margin: 0 auto;

  &__header {
    display: flex;
    align-items: center;
    margin-top: 2rem;

    border-bottom: $border-btn-primary;
    & > * {
      margin-bottom: 2rem;
    }
    h1 {
      line-height: 48px;
      margin-right: 2rem;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    & > * {
      margin-top: 2rem;
    }
    input {
      width: 30rem;
    }

    input[type="file"] {
      display: none;
    }
  }

  textarea {
    width: 74rem;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    margin-bottom: 2rem;
  }

  &__file-upload {
    border: 1px solid #dfdfdf;
    width: 17rem;
    display: inline-block;
    padding: 0.6rem 1.2rem;
    height: 3.6rem;
    text-align: center;
    line-height: 2.2rem;
    font-size: 1.6rem;
    background-color: $btn-secondary;
    color: $text-white;
    border-radius: $border-r-4px;
    cursor: pointer;

    &:hover {
      filter: brightness(1.2);
    }
  }
}
