*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading-links;
}

h1 {
  @include heading-setup(4rem, 500, 4.8rem);
}

h3 {
  @include heading-setup(2.8rem, 500, 3.2rem);
}

h4 {
  @include heading-setup(2.4rem, 500, 2.8rem);
}

h6 {
  @include heading-setup(1.6rem, 500, 2rem);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: $font-regular;
  color: $text-primary;
  height: 100vh;
}
